<div class="background vector-image">
    <div class="pt-3 pl-5">
      <div class="title">
        Sorteio Equipes Equilibrado
      </div>

      <div class="subtitle pt-3">

          <div class="card-initial">
          <div class="circle-topic"></div>
          <p >Adicione seus jogadores.</p>
          </div>
        <div class="card-initial">
          <div class="circle-topic"></div>
          <p >Sorteie de forma equilibrada.</p>
        </div>
        <div class="card-initial">
        <div class="circle-topic"></div>
        <p >Jogadores com niveís de qualidade.</p>
      </div>

      </div>
    </div>

      <app-login
        class="auto-ajust"
        *ngIf="!showCadastro"
        (showCardCadastro)="showCardCadastro($event)"
      ></app-login>

      <app-cadastro
        *ngIf="showCadastro"
      ></app-cadastro>
</div>
