@import '../../../styles.scss';

*{
color: $light-color;
}

.background{
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  margin: 40px;
}

.vector-image{
  background-image: url("/assets/images/background-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}



@mixin circle($size, $color) {
  width: $size;
  height: $size;
  background-color: $detail-color;
  border-radius: 50%;
}

.circle-topic {
  @include circle(10px, $detail-color); // Define um círculo azul com 100px de diâmetro
}

.title {
  font-family: $title-font;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 3.75rem;
  width: 40%;
}

.card-initial{
  padding: 0.625rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.subtitle{
  font-family: $subtitle-font;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.563rem;
  text-align: left;
}


