<section class="card-user p-4">
  <div class="h-100 w-100 flex-column">

    <hr class="line mx-auto mt-0">

    <h4 class="mt-4 mb-0"> Bem vindo!</h4>

    <form class="d-flex mt-4 flex-column h-100" [formGroup]="loginForm" (submit)="onSubmit($event)">

      <input class="h-25" id="email" type="email" name="email" formControlName="email" placeholder="E-mail"/>
      <input class="h-25 mt-4" id="password" type="password" name="password" formControlName="password" placeholder="Senha"/>

      <button class="btn btn-primary w-50 mt-4 mx-auto" type="submit">
        Entrar
      </button>

      <a class="mt-2 mx-auto" (click)="clickCadastro(true)">
        Faça seu cadastro <span class="destaque">aqui!</span>
      </a>
    </form>
  </div>
</section>
