<div class="flex items-center">
  <div class="flex flex-col items-center card-login m-auto shadow-custom transition-all duration-300 hover:shadow-lg">
    <p class="h-auto text-white font-bold text-center text-4xl mb-5 mt-5">
      Bem vindo!
    </p>

    <form
      [formGroup]="loginForm"
      (submit)="onSubmit($event)"
      class="flex flex-col items-center"
    >
      <div class="card-form h-auto p-4">
        <p class="card-title font-medium h-auto text-3xl text-center">Login</p>
        <div class="form-floating mb-3 h-auto">
          <input
            class="form-control"
            id="email"
            type="email"
            name="email"
            formControlName="email"
          />
          <label for="email">Seu e-mail</label>
        </div>

        <div class="form-floating h-auto">
          <input
            class="form-control"
            id="password"
            type="password"
            name="password"
            formControlName="password"
          />
          <label for="password">Sua senha</label>
        </div>

        <!--        <div class="text-end h-auto mt-3 hover:scale-105 transition-all">
                  <a class="esqueci-senha">Esqueci minha senha</a>
                </div>-->
      </div>

      <button
        type="submit"
        class="font-bold p-2 border-2 rounded-3xl text-white mt-4 w-40 h-auto y-auto hover:scale-125 transition-all"
      >
        Entrar
      </button>
    </form>

    <a
      class="h-auto text-center font-light mb-5 mt-2 hover:scale-125 transition-all"
      (click)="clickCadastro(true)"
    >Faça seu cadastro
    </a>
  </div>
</div>
