<div class="pt-3 pl-5">
  <div class="card-login">
    <div></div>
    <p class="subtitle">
      Bem vindo!
    </p>
  <div>
    <form
      [formGroup]="loginForm"
      (submit)="onSubmit($event)"
      class="form-control"
    >
      <div class="form-control">
        <input
          class=""
          id="email"
          type="email"
          name="email"
          formControlName="email"
          placeholder="E-mail"
        />
        <input
          class=""
          id="password"
          type="password"
          name="password"
          formControlName="password"
          placeholder="Senha"
        />

      </div>

        <!--        <div class="">
                  <a class="esqueci-senha">Esqueci minha senha</a>
                </div>-->

      <button
        type="submit"
        class="button-enter"
      >
        Entrar
      </button>
    </form>
  </div>
    <a
      class="form-control"
      (click)="clickCadastro(true)"
    >Faça seu cadastro
    </a>
  </div>
</div>
