<section class="d-flex flex-column">
  <div class="">
    <div class="">
      <p class="">
        <strong>Parabéns!</strong> Os times foram sorteados com
        <strong>Sucesso!</strong>
      </p>
    </div>
  </div>

  <div class="d-flex w-100 mt-5">
    <button class="btn btn-primary btn-responsive w-25 mx-auto mt-2" (click)="copiarTimes()">Copiar</button>
    <button class="btn btnVoltar btn-primary btn-responsive w-25 mx-auto mt-2" (click)="voltar()">Voltar</button>
  </div>

  <ng-container *ngFor="let opcoes of equipesSorteadasInput(); let i = index">
    <div class="d-flex flex-column container-sorteado mt-5">
      <div class="group-label">
        <p class="label">
          Opção {{ i + 1 }}
        </p>
      </div>

      <div class="d-flex justify-content-around group mt-3 gap-4">
        <div *ngFor="let equipe of opcoes; let i_equipe = index" class="d-flex justify-content-between group-card">
          <div class="">
            <p class="text-left label-equipe">Equipe {{ i_equipe + 1 }}</p>
            <ol>
              <li *ngFor="let jogador of equipe"> {{ jogador.name }} </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>
