@import '../../../../styles.scss';

section {
  padding: 8rem;
  align-items: center;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 2rem;

  }
  @media (max-width: 767px) {
    padding: 2rem;
  }
}

.label {
  font-size: 1.2rem;
  font-family: "Lexend", sans-serif!important;
  font-weight: bold;
  margin: 0;
  padding: 0.7rem;
  background: $green-color;
  color: $black-color !important;
  width: fit-content;

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  @media (max-width: 767px) {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

.group-label {
  border-bottom: 0.1rem solid $green-color;
}


.group {
  overflow: hidden;
  height: 100%;
  background-color: $secondary-color;
  border-radius: 1rem;
  padding: 1.5rem;
  @media (min-width: 768px) and (max-width: 1024px) {
    overflow: auto;
  }
  @media (max-width: 767px) {
    overflow: auto;
  }
}

.label-equipe {
  border-radius: 11px 0 0 0;
  font-size: 0.8rem;
  font-family: "Lexend", sans-serif!important;
  margin: 0;
  padding: 0.5rem;
  background: #1AACA6;
  color: $light-color !important;
  width: fit-content;
}

.group-card {
  border: 1px solid #1AACA6;
  border-radius: 1rem;
}

.jogadores {
  flex-direction: column; /* Alinha os itens em colunas */
  padding: 1.2rem;
  flex-wrap: wrap; /* Permite que os itens quebrem de linha */
  max-height: 10rem;
  gap: 1rem;
}

.jogadores p {
  width: 5rem;
  text-wrap: wrap;
  flex: 1 1 100%; /* Cada jogador ocupará 100% da largura da coluna */
  margin: 5px 0; /* Espaço vertical entre os jogadores */
  box-sizing: border-box; /* Garante que o padding e as bordas não afetem o tamanho */
  text-align: center; /* Centraliza o nome dos jogadores */
}

ol {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem;
  list-style-position: inside;
}

ol li {
  flex: 1 1 100%; /* Cada jogador ocupará 100% da largura da coluna */
  width: 6rem;
  box-sizing: border-box;
  margin-bottom: 10px; /* Espaçamento entre os itens */
}

.container-sorteado {
  min-width: 35%;
  max-width: 100%;
}

.btnVoltar {
  border: $green-color!important;
  font-family: "Source Sans 3", sans-serif!important;
  font-weight: 400!important;
  color: #ffffff!important;
  background-color: #007bff!important;
}

.text-aviso {
  padding: 1rem;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  background: #3e3e59;
  border-radius: 0.5rem;
  height: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}
