.background-image {
  background-image: url(/assets/images/background.png);
  background-position: top right;
  background-repeat: repeat-x;
  min-height: 100vh;
  width: 100%;

  @media (max-width: 768px) {
    background-size: 100% 50%;
  }
}

.background-grandient {
  background-image: url(/assets/images/gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;

  @media (max-width: 768px) {
    background-size: 100% 100%;
  }
}

