@import '../../../styles.scss';

/** HEADER */
header{
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: $secondary-color;
  height: 5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  @media (max-width: 768px) {
    padding: 1rem;
  }

  .vertical-hr {
    width: 1px; /* Define a espessura da linha */
    height: 100px; /* Define a altura da linha */
    background-color: #ffffff; /* Cor da linha */
    border: none; /* Remove a borda padrão */
  }

  hr {
    margin: 0;
    border: none;
    height: 0.1rem;
    background-color: $medium-color!important;
    transform: rotate(90deg);
    opacity: 35%;
    width: 3rem;
    @media (max-width: 767px) {
      height: 0.02rem!important;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
    align-self: center;
    font-family: "Lexend", sans-serif!important;
    @media (max-width: 767px) {
      font-size: 1rem;
      width: 8rem;
      line-height: 1.4rem;
    }
  }

  p {
    font-family: "Lexend", sans-serif!important;
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    align-self: center;
    strong {
      font-weight: 400;
    }

    @media (max-width: 767px) {
      line-height: 1rem;
      font-size: 0.6rem;
    }
  }

  a {
    font-family: "Lexend", sans-serif!important;
    font-size: 1rem!important;
    font-weight: lighter;
  }

  .userSair {
    width: 22%;
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 35%!important;
    }
    @media (max-width: 767px) {
      width: 45%;
    }
  }
}

/** BODY */

.group {
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 100%!important;
    height: 50% !important;
  }
  @media (max-width: 767px) {
    width: 100%!important;
    height: 50% !important;
  }

}

.tabelas-dashboard {
  padding: 7rem;
  display: flex;
  width: auto;
  height: 45rem;
  gap: 3rem;
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 10rem 2rem 0;
    display: flex;
    flex-direction: column-reverse;
    height: 50rem;
  }
  @media (max-width: 767px) {
    padding: 10rem 2rem 0;
    display: flex;
    flex-direction: column-reverse;
    height: 50rem;
  }
}

.group-label {
  border-bottom: 0.1rem solid $green-color;
}

.label {
  font-size: 1.2rem;
  font-family: "Lexend", sans-serif!important;
  font-weight: bold;
  margin: 0;
  padding: 0.7rem;
  background: $green-color;
  color: $black-color !important;
  width: fit-content;

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  @media (max-width: 767px) {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

.table-jogadores {
  overflow: hidden;
  height: 100%;
  background-color: $secondary-color;
  border-radius: 1rem;
  padding: 1.5rem;
}

.table-jogadores2 {
  @media (min-width: 768px) and (max-width: 1024px) {
    overflow: auto;
  }
  @media (max-width: 767px) {
    overflow: auto;
  }
}

.text-aviso {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  background: #3e3e59;
  border-radius: 0.5rem;
  height: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.group-sortear {
  @media (min-width: 768px) and (max-width: 1024px) {
    margin-top: 0!important;
  }
  @media (max-width: 767px) {
    margin-top: 0!important;
  }
}

.btn-responsive {
  @media (min-width: 768px) and (max-width: 1024px) {
    height: 2.6rem !important;
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
  }
  @media (max-width: 767px) {
    height: 2.6rem !important;
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
  }
}

table {
  width: 100%;
  background-color: $secondary-color;
  font-family: "Source Sans 3", sans-serif;

  tr {
    border-bottom: 0.1rem solid rgba(101, 101, 107, 0.18);
  }
  th {
    padding: 0.5rem;
    font-weight: 400;
    text-align: center;
  }

  td {
    font-weight: 300;
    padding: 0.5rem;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    table-layout: fixed !important;
    width: 100%;
    tr {
    }
    th {
      font-size: 0.5rem!important;
    }

    td {
      font-size: 0.5rem!important;
    }
  }
  @media (max-width: 767px) {
    table-layout: fixed !important;
    tr {
    }
    th {
      font-size: 0.5rem!important;
    }
    td {
      font-size: 0.5rem!important;
    }
  }
}

.imagem_delete {
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 0.7rem;
    height: 1rem;
  }
  @media (max-width: 767px) {
    width: 0.7rem;
    height: 1rem;
    }
}


::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d2d3b;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949;
}

.text-legenda {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  border-radius: 0.5rem;
  height: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 1rem;
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 0.5rem;
  }
  @media (max-width: 767px) {
    font-size: 0.5rem;
  }
}

.btnSortear {
  border: $green-color!important;
  font-family: "Source Sans 3", sans-serif!important;
  font-weight: 400!important;
  color: #ffffff!important;
  background-color: #007bff!important;
}

.imgs-status {
  @media (min-width: 768px) and (max-width: 1024px) {
    width: auto;
    height: 0.4rem;
  }
  @media (max-width: 767px) {
    width: auto;
    height: 0.4rem;
  }
}
