<header class="d-flex justify-content-between">
  <h2>
    Sorteio Equipes Equilibrado
  </h2>

  <div class="d-flex align-items-center userSair">
    <p>
      Olá, <strong>{{ name }}</strong>!
    </p>

    <hr>

    <a (click)="sair()"> Sair </a>
  </div>
</header>

<div *ngIf="!showCardSorteio" class="tabelas-dashboard">
  <div class="d-flex flex-column w-50 group-jogadores ">
    <div class=" rounded-xl h-14 group-label-jogadores">
      <p class="label-jogadores">
        Jogadores
      </p>
    </div>

    <div class="table-jogadores mt-4">

      <p *ngIf="userCache?.jogadores.length === 0" class="text-aviso">Não existem jogadores cadastrados.</p>
      <table *ngIf="userCache?.jogadores.length > 0" class="">
        <thead class="">

        <tr class="">
          <th class="">Status</th>
          <th class="">Nome</th>
          <th class="">Posição</th>
          <th class="">Qualidade</th>
          <th class="">Ações</th>
        </tr>

        </thead>

        <tbody class="h-auto">

        <tr *ngFor="let jogador of userCache?.jogadores; let i = index;" class="flex h-9 p-2 gap-1 mt-2 ">
          <td class="text-center">
            <img style="cursor: pointer;" [attr.src]="jogador.status === 1 ? '/assets/images/active.png' : '/assets/images/inactive.png'" alt="Status" (click)="saveStatus(jogador.id)">
          </td>
          <td class="">{{ jogador.name }}</td>
          <td class="text-center">{{ jogador.position }}</td>
          <td class="text-center">{{ jogador.level }}</td>
          <td class="d-flex justify-content-center">
            <img style="cursor: pointer;" src="/assets/images/Edit.png">
            <img style="cursor: pointer;" src="/assets/images/Delete.png">
          </td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>

  <div class="d-flex flex-column w-50">
    <!--
        <div class="flex items-center justify-center">
          <div class="bg-[#E2E2E2] w-auto h-auto rounded-xl p-3">
              <div class="w-full flex flex-col items-center">
                <p class="text-center text-2xl font-medium text-[#797979] mb-1">
                  Novo Jogador
                </p>
                <label class="text-base text-[#797979]" for="name">Nome</label>

                <input
                  class="pl-2 w-full h-auto bg-white rounded-3xl border-2 border-[#0EA900] mt-1"
                  id="name"
                  type="text"
                  name="name"
                  placeholder="Digite o nome do jogador"
                />

                <label class="text-base text-[#797979]" for="">Qualidade</label>
                <div class="flex gap-3">
                  <input
                    class="pl-2 w-auto h-[22.07px] bg-white rounded-3xl border-2 border-[#0EA900] mt-1"
                    type="text"
                    name=""
                    placeholder="Informe a qualidade"
                  />
                  <button
                    class="bg-[#0EA900] w-32 rounded-xl p-1 h-auto font-bold text-center text-white"
                  >
                    Adicionar
                  </button>
                </div>
              </div>
          </div>
        </div>
    -->

    <div class="flex items-center justify-center">
      <div class="bg-[#E2E2E2] w-auto h-auto rounded-xl p-3">
        <div [formGroup]="formSorteio" class="w-100 flex flex-col items-center">
          <div class="w-full flex items-center">
            <div class="flex flex-column">
              <label class="text-base text-[#797979]">Nº de Opções</label>

              <input
                class="pl-2 max-w-[158px] h-auto bg-white rounded-3xl border-2 border-[#0EA900] mt-1"
                id="numero_opcoes"
                type="number"
                formControlName="numero_opcoes"
              />
              <mat-error *ngIf="formSorteioInvalid">Campo obrigatório</mat-error>
            </div>
          </div>

          <div class="flex flex-column">
            <label class="text-base text-[#797979]">Nº de Equipes</label>

            <input
              class="pl-2 max-w-[158px]  bg-white rounded-3xl border-2 border-[#0EA900] mt-1"
              id="numero_equipes"
              type="number"
              formControlName="numero_equipes"
            />

            <mat-error *ngIf="formSorteioInvalid">Campo obrigatório</mat-error>

            <button
              class="bg-[#0EA900] w-32 rounded-xl p-1 h-auto font-bold text-center text-white"
              (click)="sortear()"
            >
              Sortear
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-card-sorteado
  *ngIf="showCardSorteio"
  [equipesSorteadasInput] = "equipesSorteadas"
  (equipesSorteadasOutput) = "emitShowCardSorteio($event)"
></app-card-sorteado>

