@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/** COLORS */
$primary-color: #1F1D2B;
$secondary-color: #222232;
$tertiary-color: #0C02A6;
$green-color: #C8F558;
$light-color: #FFFFFF;
$black-color: #000000;
$medium-color: #65656B;

/* You can add global styles to this file, and also import other style files */
html, body {margin: 0; padding: 0; height: 100% ;width: 100%;}
app-home{  height: 100%; width: 100%; }

/** SNACK BAR */
.mat-mdc-snack-bar-container .mdc-snackbar__label { color: $light-color!important; font-weight: 200!important;}
.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) { color: $light-color !important; }
.mat-mdc-snack-bar-container .mdc-snackbar__surface { background-color: #007bff !important; }

.mat-mdc-form-field-error { color: #ff4747!important; font-size: 0.7rem!important; font-weight: 200!important; }
.mat-mdc-select { background: $primary-color; height: 2rem; border-radius: 0.4rem;};

/** BACKGROUND */
body {
  background-color: $primary-color;
  font-family: "Source Sans 3", sans-serif;
  color: $light-color;
}

/** OUTROS */
.mx-auto { margin-left: auto!important; margin-right: auto!important; }
.pt-4 { padding-top: 4rem!important; } .pl-8 { padding-left: 8rem; }


/** OUTROS */
h1 { line-height: 6rem!important; margin: 0!important; font-family: "Lexend", sans-serif!important; font-size: 5rem!important; color: $light-color; font-weight: 600 !important;
  @media (max-width: 768px) {
    font-size: 2rem!important;
    font-weight: 500 !important;
  }
}

h4 { font-size: 2rem!important; color: $light-color; font-weight: 400 !important;
  @media (max-width: 768px) {
    margin-top: 1rem!important;
    font-size: 1.5rem !important;
    font-weight: 200 !important;
  }
}

ul {margin: 0;padding: 0;list-style: none;
  li {font-family: "Inter", sans-serif!important; color: $light-color; position: relative; padding-left: 25px; margin-bottom: 40px; font-size: 1.4rem!important;
    &::before {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 10px; height: 10px; background-color: $green-color;/* Cor verde-limão */border-radius: 50%; /* Torna o marcador circular */}
  }
}

a {
  text-decoration: none;
  cursor: pointer!important;
  font-family: "Source Sans 3", sans-serif;
  color: $light-color!important;
  font-size: 0.9rem!important;
  font-weight: 200!important;
  @media (max-width: 767px) {
    font-size: 0.7rem!important;
  }
}

input {
  height: 3.5rem !important;
  border-radius: 0.8rem;
  border: none;
  padding: 0.8rem!important;
  outline: none;
  font-family: "Source Sans 3", sans-serif!important;
  font-size: 1rem!important;
  color: $light-color !important;
  background-color: $primary-color!important;
  @media (max-width: 767px) {
    margin-top: 0.5rem!important;
    height: 2.8rem !important;
    border-radius: 0.5rem;
  }
}

input::placeholder {
  font-family: "Source Sans 3", sans-serif!important;
  font-size: 1rem!important;
  font-weight: 400!important;
  color: $medium-color; /* Define a cor do placeholder */
}

hr {
  @media (max-width: 767px) {
    height: 0.2rem!important;
    margin-bottom: 0;
  }
}

/** BOTAO BOOSTRAP */
.btn {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  color: $black-color;
  border: $green-color;
  background-color: $green-color;
  @media (max-width: 767px) {
    margin-top: 1rem;
  }
}

/** CARD LOGIN e CADASTRO */
.card-user {
  background-color: $secondary-color;
  width: 27rem;
  height: auto;
  border-radius: 2rem;
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 100%!important;
  }
  @media (max-width: 767px) {
    width: 100%!important;
    height: auto!important;
    margin-top: 2rem;
  }
}



